:root {
    --primary: #b38f00;
    --black: black;
    --background: rgb(239, 240, 231);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: var(--background);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: auto;
    width: 80%;
}

.primary {
    color: var(--primary);
}

.font-med {
    font-size: 24px;
    font-weight: 400;
}

.font-sm {
    font-size: 22px;
    font-weight: 400;
}

.divider1{
    background-color: var(--primary);
    width: 2px;
    height: 30px;
    margin: 0px 20px;
}

.divider2 {
    height: 2px;
    background-color: var(--primary);
    width: 100%;
    margin: 30px 0px; 
}

.name {
    font-size: 70px;
}

.label {
    font-size: 32px;
    font-weight: 400;
}

.header {
    padding-top: 40px;
    flex-direction: column;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: var(--black);
}

.links a:hover  {
    color: var(--primary);
}

.links {
    gap: 30px;
}

.icon {
    font-size: 40px;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: rotate(360deg) scale(1.2);
}

.links i:hover {
    color: var(--primary);
}

.profile {
    color: var(--primary);
}

.profile p {
    margin: 20px 0px;
    color: black;
}

.grid {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid p {
    padding: 5px;
}

.projects {
    width: 60%;
    border-right: 2px solid var(--primary);
}

.project_label {
    margin: 20px;
    font-size: 24px;
}

.projects p {
    margin: 20px;
}

.projects a {
    text-decoration: none;
    color: black;
}

.memoria_link ~ .memoria {
    color: var(--primary)
}

.projects a:hover {
    color: var(--primary);
}

.experience {
    display: flex;
    flex-direction: row;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.tech div {
    margin: 15px;
    width: 60px;
}

.tech .label {
    margin-bottom: 40px;
}

.job {
    display: flex;
    flex: row;
    justify-content: space-between;
}

.job p {
    margin-top: 20px;
}

.job .project_label {
    margin-bottom: 5px;
}

.job_details {
    margin-left: 40px;
}

.company {
    margin-left: 20PX;
    font-weight: bold;
    margin-bottom: 10px;
}

.education {
    margin-bottom: 60px;
}

.education p {
    margin-left: 20px;
}


